@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* Custom Swiper Arrows */
.swiper-button-prev-custom,
.swiper-button-next-custom {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* hidden notification ckeditor  */
.cke_notifications_area {
  display: none;
}

/* Gaya Tautan */
.ck-editor-content a {
  color: blue;
  text-decoration: underline;
}

/* Gaya Paragraf */
.ck-editor-content p {
  margin-bottom: 16px;
  line-height: 1.5;
}

/* Gaya Judul */
.ck-editor-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
}

.ck-editor-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 14px;
}

.ck-editor-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

/* Gaya Daftar */
.ck-editor-content ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ck-editor-content ol {
  list-style-type: decimal;
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ck-editor-content li {
  margin-bottom: 6px;
}

/* Gaya Blok Kutipan */
.ck-editor-content blockquote {
  margin: 0 0 16px;
  border-left: 4px solid #ccc;
  padding-left: 16px;
  font-style: italic;
}

/* Gaya Gambar */
.ck-editor-content img {
  max-width: 100%;
  height: auto;
}

/* Gaya Tabel */
.ck-editor-content table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #ddd;
}

.ck-editor-content th,
.ck-editor-content td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Gaya Video */
.ck-editor-content iframe {
  max-width: 100%;
  height: auto;
}